@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

body {
    background-color: #fff;
}
.card-item {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona sombra suave ao card */
    border-radius: 8px; /* Bordas arredondadas */
    overflow: hidden; /* Evita que conteúdo exceda os limites do card */
    margin-top: 10px;
}

.card-body {
    background-color: #f8f9fa; /* Cor de fundo clara para o corpo do card */
    border-top: 1px solid #e0e0e0; /* Adiciona uma linha separadora no topo */
}

.card-image img {
    object-fit: cover; /* Garante que as imagens mantenham a proporção sem deformar */
}

.carousel-indicators button {
    background-color: #0056b3; /* Cor personalizada para os indicadores */
}

.d-flex.justify-content-between {
    margin-top: 10px; /* Espaçamento entre conteúdo e os botões de ação */
}
.card-image {
    border-radius: 10px;
}

.custom-navbar {
    background-color:black;
    max-height: 300px;
}
html {
    zoom: 0.90; /* Ajusta a escala da página para 75% */
  }

.footer-link {
    color: white;
    text-decoration: none;
    font-size: 12px;
    font-family:'Poppins', sans-serif;
    margin-bottom: -50;
}

.footer-link:hover {
    color: #ffcc00; /* Cor amarela ao passar o mouse, por exemplo */
    text-decoration: underline;
}
.custom-caption {
    position: absolute;
    bottom: 100px; /* Ajuste o valor conforme necessário para mover para cima */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Corrige a centralização */
    text-align: center; /* Centraliza o texto */
    /* background-color: rgba(0, 0, 0, 0.5) */ /* Descomente se quiser usar o fundo semi-transparente */
    padding: 20px; /* Espaçamento interno */
    border-radius: 10px; /* Bordas arredondadas */
}

.caption-title {
    font-size: 2rem; /* Tamanho da fonte do título */
    color: #ffffff; /* Cor do texto */
    margin-bottom: 10px; /* Espaçamento abaixo do título */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra do texto */
}

.caption-text {
    font-size: 1.25rem; /* Tamanho da fonte do texto */
    color: #ffffff; /* Cor do texto */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); /* Sombra do texto */
}
.custom-carousel {
    margin-top: 0px; /* Ajuste conforme necessário */

}

.custom-banner {
    object-fit: cover;
    height: 800px;
    margin-top: 0;
}

div h1 {
    font-family:'Poppins', sans-serif;
    font-size: 36px; /* Tamanho da fonte */
    color: #193e57; /* Cor azul personalizada */
    text-align: center; /* Centraliza o texto */
    margin-top: 0px; /* Espaçamento superior */
    margin-bottom: 20px; /* Espaçamento inferior */
    font-weight: 700; /* Negrito */
    letter-spacing: 1px; /* Espaçamento entre as letras */
}
html, body {
    height: 100%; /* Garante que o HTML e o body ocupem toda a altura da janela */
    margin: 0; /* Remove margens do body */
}

body {
    display: flex; /* Permite que o body use flexbox */
    flex-direction: column; /* Organiza os filhos em coluna */
}

.container {
    flex: 1; /* Faz com que o contêiner principal ocupe todo o espaço disponível */
}

footer {
    margin-top: 0; /* Remove margem superior no footer */
}
.navbar {
    font-family: 'Poppins', sans-serif; /* Aplica a nova fonte */
}

.nav-link {
    font-weight: 400; /* Defina o peso da fonte se desejar */
}

.navbar-brand {
    font-weight: 600; /* Peso diferente para o título da navbar, se desejado */
}
